<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/menu2.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="/img/TBT.png" />
    <style>

    </style>
</head>

<body>


    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/manufacturerHomepage">CỬA HÀNG</a></li>
                <li><a href="/">TRA CỨU</a></li>
            </ul>
        </nav>
    </header>


	<div class="block-connect">
		<div class="block-item">
			<p class="title-block">Tra cứu mã vạch</p>
			<label style="margin: 8px;">
				<input type="text" id="inputBarcode" placeholder="Nhập vào mã vạch sản phẩm">
				<button class="button" onclick="searchBarcode()">Tra cứu</button>
			</label>
			<p id="accountArea"></p>
		</div>
	</div>

    <section class="step-wizard">
        <ul class="step-wizard-list">
            <li class="step-wizard-item">
                <span class="progress-count">1</span>
                <span class="progress-label">Nhà Sản Xuất</span>
                <div style="text-align: left;">
                    <span id="productName">Tên sản phẩm:</span> <br>
                    <span id="manufacturerName">Nhà sản xuất: </span> <br>
                    <span id="productDate">Ngày sản xuất: </span> <br>
                    <span id="productType">Loại sản phẩm: </span>
                </div>
            </li>

            <li class="step-wizard-item">
                <span class="progress-count">2</span>
                <span class="progress-label">Cửa hàng</span>
                <div style="text-align: left;">
                    <span id="productStoreName">Tên sản phẩm:</span> <br>
                    <span id="storeName">Cửa hàng: </span> <br>
                    <span id="storeDate">Ngày lên kệ: </span> <br>
                    <span id="productPrice">Giá sản phẩm: </span> <br>
                </div>
            </li>

            <!-- <li class="step-wizard-item current-item">
                <span class="progress-count">2</span>
                <span class="progress-label">Siêu thị</span>
            </li> -->
        </ul>
    </section>

    <script>
        const searchBarcode = async () => {
            if (window.ethereum !== "undefined") {
				const accounts = await ethereum.request({ method: "eth_requestAccounts" });
				account = accounts[0];

				// document.getElementById("accountArea").innerHTML = `<p style="color:green;" id="accountArea">${account}</p>`;
			}
			window.web3 = await new Web3(window.ethereum);
			window.contract = await new window.web3.eth.Contract(ABI, Address);

            const barcode = document.getElementById("inputBarcode").value;

            const productID = await contract.methods.getIDBarcode(barcode).call();
            // if (parseInt(productID) > 0) document.getElementById("dataBarcode").innerHTML = `<p style="color:green;" id="dataBarcode">YES</p>`;
            const product = await contract.methods.fetchProductPart3(productID).call();
            // else document.getElementById("dataBarcode").innerHTML = `<p style="color:green;" id="dataBarcode">NO</p>`;
            // console.log(typeof parseInt(productID));
            document.getElementById("productName").innerHTML = `<span id="productName">Tên sản phẩm: ${product[2]} </span>`;
            document.getElementById("manufacturerName").innerHTML = `<span id="manufacturerName">Nhà sản xuất: ${product[1]} </span>`;
            const productDate = new Date(product[4] * 1000);
            document.getElementById("productDate").innerHTML = `<span id="productDate">Ngày sản xuất: ${productDate.toLocaleDateString()} </span>`;
            document.getElementById("productType").innerHTML = `<span id="productType">Loại sản phẩm: ${product[3]} </span>`;
            // else document.getElementById("dataBarcode").innerHTML = `<p style="color:red;" id="dataBarcode">Không tồn tại mã vạch</p>`;


            document.getElementById("productStoreName").innerHTML = `<span id="productStoreName">Tên sản phẩm: ${product[2]} </span>`;
            document.getElementById("storeName").innerHTML = `<span id="storeName">Cửa hàng: ${product[6]} </span>`;
            const storeDate = new Date(product[7] * 1000);
            document.getElementById("storeDate").innerHTML = `<span id="storeDate">Ngày lên kệ: ${storeDate.toLocaleDateString()} </span>`;
            document.getElementById("productPrice").innerHTML = `<span id="productPrice">Giá sản phẩm: ${product[5]}$</span>`;


        }
    </script>
    <script src="/js/contract.js"></script>
</body>

</html>